.hamburger-section {
  height: 60px;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: sticky;
  align-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.97;
  border-bottom: black solid 1px;
  cursor: pointer;
}

.hamburger-container {
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.hamburger-lines {
  height: 6px;
  width: 45px;
  background-color: black;
  transition: translate 0.2s, rotate 0.2s, opacity 0.2s, width 0.8s, height 0.8s;
}

.hamburger-section.open .middle {
  opacity: 0;
}

.hamburger-section.open .top {
  rotate: z 45deg;
  translate: 0px 8px 0px;
}

.hamburger-section.open .bottom {
  rotate: z -45deg;
  translate: 0px -10px 0px;
}

@media screen and (max-width: 768px) {
  .hamburger-lines {
    width: 35px;
  }

  .hamburger-section {
    height: 55px;
  }
}

@media screen and (max-width: 600px) {
  .hamburger-lines {
    width: 33px;
    height: 4px;
  }

  .hamburger-section {
    height: 50px;
  }

  .hamburger-section.open .top {
    translate: 0px 7px 0px;
  }
}
