:root {
  --side-text-size: 41px;
  --sidebar-width: 70px;
}

@media screen and (max-width: 768px) {
  :root {
    --sidebar-width: 50px;
    --side-text-size: 39px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --sidebar-width: 40px;
    --side-text-size: 38px;
  }
}

.sidebar {
  height: 100vh;
  position: fixed;
  border-right: solid black 1px;
  width: var(--sidebar-width);
  background-color: white;
  z-index: 20;
  cursor: default;
  transition: width 0.8s;
}

.side-text {
  transition: font-size 0.8s;

  animation: scrollslide 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  font-size: var(--side-text-size);
  font-family: sequel100;
  padding-right: calc(var(--side-text-size) / 7);
  writing-mode: vertical-rl;
  white-space: nowrap;
  /*backwards*/
  /* transform: translateY(calc(-1 * calc(var(--side-text-size) * 93.6))); */
}

@keyframes scrollslide {
  to {
    transform: translateY(calc(-1 * calc(var(--side-text-size) * 31)));
  }
}

/* 
backwards
@keyframes scrollslide {
  to {
    transform: translateY(calc(var(--side-text-size) * 0.02));
  }
} */
